<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="PostgreSqlConnection"
			 connectionString="Host=192.168.1.9;Port=5432;Username=postgres;Password=sansar1903;Database=Student_Records"
			 providerName="Npgsql" />
		 <add name="MsSqlConnection"
             connectionString="Data Source=127.0.0.1;Initial Catalog=Student_Records;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
			 
			 Data Source=127.0.0.1;Initial Catalog=Student_Records;User ID=sa;Password=Akindev123;TrustServerCertificate=True-->

		<add name="PostgreSqlConnection" connectionString="lBU2D6EUp01tH2DL6wKdPDDhuBzE3/dj+4kUwJqGjS/mD6I3gzY2jPdkBS6F2DEYUhfnYDyBAZXvrIrdgFjd7Pi83Vvg6xCiMwCDBShsSWlOb/ZrpToDjPzkz8rbjFHD" providerName="Npgsql" />
		<!--<add name="MsSqlConnection" connectionString="oFPgumvyKlMRBxrpkMmLTFKQ8+LkDXttfomr3Cb3RLivMEz1CDuWV3ugXMzICTv6zZmA6pA7tj3303kkbAkYEe/fcu+VTvRHUtbSlUeuu29vdAjIPefIOrs6AVNIDYm9uOX2YGs4bXqJhK7r37pRuw==" providerName="System.Data.SqlClient" />
		-->
		<add name="MsSqlConnection" connectionString="oFPgumvyKlMRBxrpkMmLTFKQ8+LkDXttfomr3Cb3RLivMEz1CDuWV3ugXMzICTv6flsMSGmMFalM/pd1CQjE7tavRtWGRoIR440PvHQ00IdXoUeX7jV3VV38ozdMuMXbGnh2vFE0rFp0hkbZdCbDhXMr2OrJCLZCs1NW+4Q4Ux0=" providerName="System.Data.SqlClient" />

		
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.35.0.0" newVersion="6.35.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IArasCargoIntegrationService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://customerservices.araskargo.com.tr/ArasCargoCustomerIntegrationService/ArasCargoIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IArasCargoIntegrationService" contract="ServiceReference1.IArasCargoIntegrationService" name="BasicHttpsBinding_IArasCargoIntegrationService" />
    </client>
  </system.serviceModel>
</configuration>